{% extends 'layout/layout.html' %}
{% load static %}
{% block content1 %}
{% if success %}
<div class='alert alert-primary' role='alert'>{{success}}</div>
{% endif %}
<div class="img_box">
    <div class="imgmove"></div>
    <div class="welcome">    
        <div class="welcome_title">WELCOME TO</div>
        <div class="welcome_name">HOTEL TEACHER</div>
        <div class="welcome_desc">the best hotel in the world</div>
    </div>
</div>
<div class="room_intro">
    <div class="intro_title">
        <h1>HOTEL TEACHER'S ROOM</h1>
    </div>
    <div class="room_img_grid">
        <div class="row m-0">
            <div class="room_img col-6 p-0">
                <div class="room_info">
                    <span>from $200/night</span>
                    <h3>room</h3>
                    {% if request.session.user %}
                    <a href="{% url 'reservation' %}">book now</a>
                    {% else %}
                    <a href="{% url 'sign_in' %}">book now</a>
                    {% endif %}
                </div>
            </div>
            <div class="room_img col-6 p-0">
                <div class="room_info">
                    <span>from $200/night</span>
                    <h3>room</h3>
                    {% if request.session.user %}
                    <a href="{% url 'reservation' %}">book now</a>
                    {% else %}
                    <a href="{% url 'sign_in' %}">book now</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="room_img col-6 p-0">
                <div class="room_info">
                    <span>from $200/night</span>
                    <h3>room</h3>
                    {% if request.session.user %}
                    <a href="{% url 'reservation' %}">book now</a>
                    {% else %}
                    <a href="{% url 'sign_in' %}">book now</a>
                    {% endif %}
                </div>
            </div>
            <div class="room_img col-6 p-0">
                <div class="room_info">
                    <span>from $200/night</span>
                    <h3>room</h3>
                    {% if request.session.user %}
                    <a href="{% url 'reservation' %}">book now</a>
                    {% else %}
                    <a href="{% url 'sign_in' %}">book now</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="row">
        <div class="text col-5 p-0">
            <div class="text_box">
                <span>about us</span>
                <h2>A Luxuries Hotel with Nature</h2>
                <p>Suscipit libero pretium nullam potenti. Interdum, 
                    blandit phasellus consectetuer dolor ornare dapibus enim ut 
                    tincidunt rhoncus tellus sollicitudin pede nam maecenas,
                    dolor sem. Neque sollicitudin enim. Dapibus lorem feugiat
                    facilisi faucibus et. Rhoncus.</p>
                <a href="{% url 'about' %}" class="line-button">Learn More</a>
            </div>
        </div>
        <div class="col-7 p-0">
            <div class="about_thumb d-flex">
                <div class="img_1">
                    <img src="{%static 'img/about/about_1.png'%}" alt="">
                </div>
                <div class="img_2">
                    <img src="{%static 'img/about/about_2.png'%}" alt="">
                </div>
            </div>
        </div>   
    </div>
</div>
{% if request.session.user %}
<div class="easy_reserve">
    <h1>EASY BOOKING</h1>
    <form class="book_now" action="{% url 'reservation' %}" method="POST">
        <span id="checkin" class ="date_box">
            <p>Check In</p>
            <input type="date">
        </span>
        <span id="checkout" class ="date_box">
            <p>Check Out</p>
            <input type="date">
        </span>
        <span id="adult">
            <p>adult</p>
            <input type="number">
        </span>
        <span id="adult">
            <p>children</p>
            <input type="number">
        </span>
        <span>
        <button type="submit">Book now!</button>
        </span>
    </form>
</div>
{% endif %}
<div class="">

</div>
{% endblock %}